# =========================
# ENV & SECRETS
# =========================
.env

# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-error.log*

# =========================
# WHATSAPP SESSION
# =========================
auth/
*.session
*.json

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# TEMP
# =========================
temp/
tmp/
